.home-page {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 820px;
  margin: auto;
  padding: 50px;
}

.home-page .credit-card-layout {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  font-family: monospaced;
  color: #fff;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 1px 1px #d2d2d2;
}

.home-page .credit-card-layout.active {
  background-image: repeating-linear-gradient(
    to right,
    transparent 0,
    rgba(255, 255, 255, 0.3) 25%,
    transparent 50%
  );
  background-size: 200% 100%;
  animation: shine 1s infinite linear;
}

.home-page .credit-card-layout .card-number {
  margin-top: 20px;
}

.home-page .credit-card-layout .card-number .card-number-masked {
  font-weight: bold;
  letter-spacing: 7px;
  font-family: monospaced;
  font-size: 26px;
  margin-top: 4px;
  min-height: 27px;
  text-align: center;
}

.home-page .credit-card-layout .title {
  font-size: 12px;
}

.home-page .credit-card-layout .cardholder-expiration-masked {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.home-page .credit-card-layout .cardholder-expiration {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  max-width: 370px;
}

.home-page .credit-card-layout .cardholder-expiration .expiration {
  width: 50px;
}

.home-page .credit-card-layout .cardholder-expiration .cardholder {
  width: calc(100% - 70px);
}

.home-page .credit-card-layout .header {
  display: flex;
  justify-content: space-between;
}

.home-page .credit-card-layout .header img {
  width: 50px;
  height: 42px;
  background-color: #fff;
  border-radius: 8px;
}

.home-page .credit-card-form {
  width: 50%;
  padding: 0 20px;
}

.home-page .credit-card-form .submit-btn {
  background: #009fff;
  border: 1px solid #009fff;
  font-size: 16px;
  color: white;
  padding: 6px 10px;
  width: 100%;
  cursor: pointer;
}

.home-page .credit-card-form .input-container {
  margin-bottom: 8px;
}

.home-page .credit-card-form .input-container-group {
  display: flex;
  justify-content: space-between;
}

.home-page
  .credit-card-form
  .input-container-group
  .input-container:not(:first-child) {
  margin-left: 8px;
}

.home-page .credit-card-form .input-label {
  display: block;
  font-size: 12px;
}

.home-page .credit-card-form .input-text {
  padding: 8px 12px;
  margin-top: 6px;
  width: calc(100% - 32px);
  border: 1px solid #b9b9b9;
}

.home-page .credit-card-form .input-text.error {
  border-color: red;
}

input:focus {
  outline: none;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}
